#### Keyp Application ####
# A random string for cookie sessions e.g. `openssl rand -base64 32`
TOKEN_SECRET=  
# Domain serving the app
NEXTAUTH_URL=http://localhost:3000 
# Create an application at https://dev.usekeyp.com
KEYP_CLIENT_ID=
