.puzzleIcon {
  margin-left: 1rem;
}

.puzzleIconText {
  font-family: "Satoshi-Variable";
  color: #63676F;
  font-size: 12px;
  font-weight: 700;
  line-height: 15.6px;
  margin-left: 2.5rem;
}

.puzzleTitleImage {
  margin: 3rem auto 2rem;
  width: 14rem;
}
.puzzleHeading {
  font-family: "Satoshi-Variable";
  color: gray;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  text-align: center;
}

@media (max-width: 768px) {
  .puzzleTitleImage {
    width: 12rem;
    height: auto;
    margin: 0rem auto 1rem;
  }
  .puzzleHeading {
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }
}