.main {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 2rem;
  min-height: 100vh;
  --primary-color: rgb(29, 109, 122);
  color: var(--primary-color);
}

.subtext {
  font-size: 1.1rem;
  line-height: 1.2rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content h1 {
  font-size: 100px;
  line-height: 100%;
  font-weight: 300;
  letter-spacing: 1.5rem;
}

.search {
  width: 50%;
}

.box {
  border-radius: 0rem;
  border-width: 1px;
  width: 100%;
  border-style: solid;
  font-family: inherit;
  font-size: 100%;
  margin: 2rem 0 0.7rem 0;
  padding: 0.75rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  text-align: center;
  border-color: var(--primary-color);
}

.gobutton {
  background-color: rgb(25, 157, 177);
  border: none;
  color: white;
  font-weight: 300;
  font-family: inherit;
  font-size: large;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  height: 40px;
  width: 100%;
}

.gobutton:hover {
  background-color: rgb(15, 188, 188);
}
