.puzzleContainer {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  position:relative;
}

.puzzleOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
}

.startButton {
  border: solid 1px black;
  border-radius: 18px;
  padding: 1rem 1.5rem;
  background-color: pink;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--chakra-colors-pink);
}

.mintNFT {
  border: solid 1px black;
  border-radius: 18px;
  padding: 1rem 1.5rem;
  background-color: pink;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--chakra-colors-pink);
}

.puzzleSolvedPanel {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.puzzleItem {
  background-color: #ccc;
  border: 1px solid #999;
  font-size: 2em;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size:100% 100%;
}

.heading {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}
.puzzleItemText {
  padding: 0.5rem;
}


@media (min-width: 769px) {
  .puzzleContainer {
    width: 700px;
    height: 700px;
  }
  .puzzleItem {
    width: calc(700px / 3);
    height: calc(700px / 3);
  }
}

@media (max-width: 768px) {
  .puzzleContainer {
    width: 300px;
    height: 300px;
  }
  .puzzleItem {
    width: calc(300px / 3);
    height: calc(300px / 3);
  }
}
